.countdown{
	text-align: center;
	background-color: goldenrod;
}

.shipping{
	text-align: center;
	background-color: red;
}

.bg-img {
	/* The image used */
	background-image: url("images/HEADER2.jpg");
	padding-bottom: 10%;
	min-height: 380px;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	/* Needed to position the navbar */
	position: relative;
}

/* Position the navbar container inside the image */
.navigation {
	position: absolute;
	margin: 20px;
	width: auto;
}

/* The navbar */
.topnav {
	overflow: hidden;
	background-color: #333;
}

/* Navbar links */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	align-content: center;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}