.countdown{
	text-align: center;
	background-color: goldenrod;
}

.shipping{
	text-align: center;
	background-color: red;
}

.bg-img {
	/* The image used */
	background-image: url("images/HEADER2.jpg");
	padding-bottom: 10%;
	min-height: 380px;

	/* Center and scale the image nicely */
	background-repeat: no-repeat;
	background-size: contain;

	/* Needed to position the navbar */
	position: relative;
}

/* Navigation top bar */
nav {
	margin-bottom: -10px;
  background: #222;
  padding: 5px 20px;
}

ul {
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
	color: goldenrod;
  text-decoration: none;
}
.logo a:hover {
	color: goldenrod;
  text-decoration: none;
}
.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}
.logo a,
.toggle a {
	color: goldenrod;
  font-size: 20px;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}
/* Tablet menu */
@media all and (min-width: 600px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .toggle {
    flex: 1;
    text-align: right;
  }
  .toggle {
    order: 2;
	}
	.toggle a {
		color: goldenrod;
		font-size: 20px;
		display: block
	}
	.toggle a:hover {
		display: block;
	}
}
/* Desktop menu */
@media all and (min-width: 900px) {
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
  }
  .menu li {
    padding: 15px 10px;
  }
}